
{%extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {%block content%}
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name = "format-detection" content = "telephone=no" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
  <link rel="stylesheet" href="{% static 'css/camera.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/superfish.js' %}"></script>
  <script src="{% static 'js/jquery.ui.totop.js' %}"></script>
  <script src="{% static 'js/jquery.equalheights.js' %}"></script>
  <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script src="{% static 'js/camera.js' %}"></script>
  <!--[if (gt IE 9)|!(IE)]><!-->
  <script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
  <!--<![endif]-->
  <script src="{% static 'booking/js/booking.js' %}"></script>
</head>
<body>
{%include 'navbar.html'%}
<div class="container">
<div class="row">
  <div class="col-md-2">
    <a href="https://freightcargo.herokuapp.com/admin/app/newform/"><button type="button" name="button" class="btn btn-primary">Edit/Update Cargo</button></a>
  </div>
  <div class="col-md-2">
<a href="{%url 'new-cargo'%}"><button type="button" name="button" class="btn btn-primary">Add Cargo</button></a>
  </div>
  <div class="col-md-4">
    <a href="/logout"><button type="button" name="button" class="btn btn-primary">Log out</button></a>
  </div>
</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sender Name</th>
            <th scope="col">Sender Address</th>
            <th scope="col">Reciever Name</th>
            <th scope="col">Reciever Address</th>
            <th scope="col">referenceID</th>
            <th scope="col">Goods are From</th>
            <th scope="col">Goods To </th>
            <!-- <th scope="col">Depature Date</th>
            <th scope="col">Depature time</th>
            <th scope="col">Goods Description</th>
            <th scope="col">Status</th> -->
          </tr>
        </thead>
        <!-- Looping through cargo   -->
        {%  for cargos_item in scoty %}
        <tbody>
          <tr>
            <!-- <th scope="row">#</th> -->
            <!--Display cargo transparent cargo  -->
            <td>{{cargos_item.SenderName}}</td>
            <td>{{cargos_item.SenderAddress}}</td>
            <td>{{cargos_item.RecieverName}}</td>
            <td>{{cargos_item.RecieverAddress}}</td>
            <td>{{cargos_item.referenceID}}</td>
            <td>{{cargos_item.GoodsareFrom}}</td>
            <td>{{cargos_item.GoodsTo}}</td>
            <!-- <td>{{cargos_item.DepatureDate}}</td>
            <td>{{cargos_item.Depaturetime}}</td>
            <td>{{cargos_item.GoodsDescription}}</td>
            <td>{{cargos_item.Status}}</td> -->

          </tr>
        </tbody>
        {%endfor%}
      </table>
      <div class="trackBody">
      </div>
      </div>
    </body>
    {%include 'footer.html'%}
    <!--==============================footer=================================-->

    <style media="screen">
    body{
      height: 100%;
      padding-top: 5%;
      background-color: white;
      color: black;
    }
    p{
      color: black;
    }
      .trackBody{
        padding: 15%;
      }
      .row{
      	margin-left: 0px;
      	margin-right: 0px;
      }
      table{
        border-collapse: collapse;
      }
      @media screen and (max-width: 650px) {
      body{
        padding-top: 0%;
      }
    }
    </style>
{%endblock%}
