
{%load staticfiles%}
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a href="{%url 'index'%}"><img class="fas fa-chess-knight" src="{%static 'images/logo.png'%}" alt="" style="width:200px; height:60px;"></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="{%url 'index'%}">Home</a></li><!--
   --><li><a href="{%url 'about'%}">About</a></li><!--
 --><li><a href="{%url 'service'%}">Services</a></li><!--
   --><li><a href="{%url 'contact'%}">Contact</a></li>
        <li><a href="{%url 'track-cargo'%}">Track cargo</a></li>
        <li><a href="{%url 'track-cargo'%}">Track Secure</a></li>
       <li><a href="{% url 'cargo'%}">Agent Login</a></li>
    </ul>
  </div>
</nav>

<div id="menuToggle">
  <input type="checkbox" />
  <br>
  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <a href="{%url 'index'%}"><li>Home</li></a>
    <a href="{%url 'about'%}"><li>About Us</li></a>
    <a href="{%url 'service'%}"><li>Services</li></a>
    <a href="{%url 'contact'%}"><li>Contact</li></a>
    <a href="{%url 'track-cargo'%}"><li>Track cargo</li></a>
    <a href="{% url 'cargo'%}"><li>Agent Login</li></a>
    </ul>
    <a href="#"><img id="mobile" class="mobile" src="{%static 'images/logo.png'%}" alt=""></a>
</div>
<style media="screen">

#menuToggle{
  display: none;
}
* {
border: 0;
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
color: inherit;
font-family: inherit;
font-size: inherit;
text-decoration: none;
}


/*======================================================
                        Navbar
======================================================*/
#navbar {
background: white;
color: rgb(13, 26, 38);
position: fixed;
top: 0;
height: 60px;
line-height: 60px;
width: 100vw;
z-index: 10;
}

.nav-wrapper {
margin: auto;
text-align: center;
width: 70%;
}


.logo {
float: left;
margin-left: 28px;
font-size: 1.5em;
height: 70px;
letter-spacing: 1px;
text-transform: uppercase;
}

#navbar ul {
display: inline-block;
float: right;
list-style: none;
font-size:15px;
margin-top: -2px;
text-align: right;
transition: transform 0.5s ease-out;
-webkit-transition: transform 0.5s ease-out;
}

#navbar li {
display: inline-block;
}

#navbar li a {
color: rgb(13, 26, 38);
display: block;
font-size: 0.7em;
height: 50px;
letter-spacing: 1px;
margin: 0 15px;
padding: 0 2px;
position: relative;
text-decoration: none;
text-transform: uppercase;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
/* border-bottom: 1px solid rgb(28, 121, 184); */
color: rgb(28, 121, 184);
transition: all 1s ease;
-webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
content: '';
position: absolute;
width: 0%;
height: 1px;
bottom: -1px;
background: rgb(13, 26, 38);
}

#navbar li a:before {
left: 0;
transition: 0.5s;
}

#navbar li a:after {
background: rgb(13, 26, 38);
right: 0;
/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
background: rgb(13, 26, 38);
width: 100%;
transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
background: transparent;
width: 100%;
/* transition: 0s; */
}



/*======================================================
                  Mobile Menu Menu Icon
======================================================*/
@media screen and (max-width: 650px) {
#navbar{
  display: none;
}
#mobile{
  height: 60px;
  margin-left: 17%
}
#menuToggle
{
  display: block;
  position: relative;
  top: -10px;
  padding-left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: black;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}
</style>
