{%extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {%block content%}

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name = "format-detection" content = "telephone=no" />
</head>
{%include 'navbar.html'%}
<body>
<div class="container">

  <!-- <div class="row">
    {% if referenceID%}
      <h2>Found {{ referenceID|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 referenceID for the search term {{message}}</h2>
    {% endif %}
  </div> -->

  <!-- <div class="row"> -->

  {% if referenceID %}
    {% for result in referenceID%}
<div class="card" style="width: 120rem;">
  <div class="card-body">
    <h5 class="card-title">
      <h4><strong>ReferenceID</strong>:{{result.RecieverAddress}} </h4> </h5>
      <div class="row">
    <p class="card-text">
    </p>
      <div class="sen_reciv" >
          <div class="col-md-6">
      <h1><strong>Sender: </strong>{{result.SenderName}}</h1>
      <hr>
      <h3><strong>Sender Address: </strong>{{result.SenderAddress}}</h3>
      <hr>
      <h3><strong>Goods are From: </strong>{{result.GoodsareFrom}}</h3>
      <hr>
      <h3><strong>Depature Date: </strong>{{result.DepatureDate}}</h3>
      <hr>
      <h3><strong>Depature time: </strong>{{result.Depaturetime}}</h3>
      <hr>
  </div>
  <div class="col-md-6">
    <h1><strong>Reciever: </strong>{{result.RecieverName}}</h1>
    <hr>
    <h3><strong>Reciever Address: </strong>  {{result.RecieverAddress}}</h3>
    <hr>
    <h3><strong>Goods To: </strong>{{result.GoodsTo}}</h3>
    <hr>
    <h3><strong>Arrival Date: </strong>{{result.ArrivalDate}}</h3>
    <hr>
    <h3><strong>Arrival Time: </strong>{{result.ArrivalTime}}</h3>
    <hr>
  </div>
  </div>
    </div>
    <h3><strong>Goods Description: </strong>{{result.GoodsDescription}}</h3>
    <hr>
    <h3><strong>Status</strong>: {{result.Status}}</h3>
  </div>
</div>
    {% endfor %}
  {% endif %}
  </div>
</body>
<style media="screen">
body{
  padding-top: 5%;
  background-color: white;
  color: black;
}
h1, h3{
  font-size: 20px;
}
</style>
{% endblock %}
