{%extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {%block content%}

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name = "format-detection" content = "telephone=no" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
  <link rel="stylesheet" href="{% static 'css/camera.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {%include 'navbar.html'%}
  <br>
  <br>
  <div class="container">

    <h3>Track your Shipment</h3>
    <h4>Enter your Reference ID</h4>
    <form class="navbar-form" role="search" action="{% url 'search_results' %}">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search Cargo" name="referenceID">
<div class="input-group-btn">
  <button class="btn btn-primary" >Search</button>
</div>
</div></form>
  </div>
  <div class="trackBody">
  </div>
  </body>
  {%include 'footer.html'%}
  <!--==============================footer=================================-->
<!-- </body> -->
<style media="screen">
  body{
    padding-top: 5%;
    height: 100%;
    background-color: white;
  }
p{
  color: black;
}
  .trackBody{
    padding: 9%;
  }
</style>
  {%endblock%}
